.tic-tac-mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 200px);
  padding-top: 20px;
}

.tic-tac-mainContainer-mobile {
  width: 100%;
}

.tic-tac-subContainer-mobile {
  width: 100%;
}

.tic-tac-subContainer {
  width: 500px;
}

.tic-tac-marginTop {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tic-tac-chat-select-mobile {
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

.tic-tac-chat-select {
  font-size: 16px;
  margin-top: 20px;
}
